@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat|PT+Sans&display=swap');

html{
    scroll-behavior: smooth;
}

/* ------------------------------Colours/Fonts/Sizing/Alignment */
body{
    background-color: #252627;
}

.bg-dark{
    background-color: #181818 !important;
}
 nav li a{
     color: #707070 !important;
     text-transform: uppercase;
     font-family: "Monsterrat", sans-serif;
     font-size: 14px;
     padding-right: 30px;
 }

 .navbar-brand{
     color: #707070 !important;
     font-weight: 700;
     font-size: 36px;
     font-family: "PT Sans", sans-serif;
     padding-left: 20px;
     letter-spacing: 4px;
 }


 .main-content{
    color: #fafafa;
    font-family: "PT Sans", sans-serif;
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    padding-top: 120px;
 }

 .heading-text{
     font-size: 50px;
     line-height: 140%;
     font-weight: 700;
     letter-spacing: 2px;
 }

 .underwriting{
     font-size: 18px;
     color: #707070;
     word-spacing: 10px;
     justify-content: center;
     text-align: center;
 }


 hr{
     height: 2px;
     width: 120px;
     background-color: #181818;
 }

 .contact-button{
     margin-top: 40px;
     height: 45px;
     width: 150px;
     text-transform: uppercase;
     background-color: transparent;
     border: 3px solid #00b3ff;
     color: #00b3ff;
     border-radius: 0;
     letter-spacing: 2px;
     position: relative;
     -webkit-transition: all 0.5s ease-in-out;
 }

 .arrow-link{
     display: block;
     clear: both;
     margin-top: 50px;
     font-size: 45px;
     text-decoration: none;
 }

 .arrow-link i{
     color: #fafafa;
 }
 
.about-content-section{
    height: auto;
    margin-top: 100px;
    /* display: inline; */
}

.skills-heading,
 .about-heading{
     color: #707070;
     font-size: 100px;
     opacity: .3;
     z-index: 0;
     padding-left: 20px;
 }

.skills-container,
.about-me-info-container{
    display: flex;
    justify-content: center;
}

.skills-info,
 .about-me-info{
     max-width: 900px;
     background-color: #252627;
     box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.25);
     padding: 50px;
     margin-top: 50px;
     display: flex;
     justify-content: center;
     z-index: 1;
     color: #707070;
 }

.skills-content-section{
    height: auto;
    margin-top: 100px;
    /* display: inline; */
}

.progress-bar{
    background-color: #00b3ff;
}

/* .skills-heading{
    color: #707070;
     font-size: 100px;
     opacity: .3;
     z-index: 0;
     padding-left: 20px;
} */

/* ------------------------------Nav Bar */

 .nav-item{
     padding-right: 10px;
 }


 .nav-container{
     padding-right: 35px;
 }

/* ------------------------------Main Content */

 .main-content-section{
     height: auto;
 }


 

 /* ------------------------------Animation (source Youtube) */

 .heading-text span{
     letter-spacing: -10px;
     animation: animate 2s linear infinite;
 }

 .heading-text span:nth-child(1){
     animation-delay: 0s;
 }
 .heading-text span:nth-child(2){
     animation-delay: 0.25s;
 }
 .heading-text span:nth-child(3){
     animation-delay: 0.5s;
 }
 .heading-text span:nth-child(4){
     animation-delay: 0.75s;
 }
 .heading-text span:nth-child(5){
     animation-delay: 1s;
 }
 .heading-text span:nth-child(6){
     animation-delay: 1.25s;
 }

 @keyframes animate{
     0%,100%{
         color: #fff;
         filter: blur(2px);
         text-shadow: 0 0 10px #00b3ff,
                     0 0 20px #00b3ff,
                     0 0 40px #00b3ff,
                     0 0 80px #00b3ff,
                     0 0 120px #00b3ff;
     }

     5%,95%{
         color: #fff;
         filter: blur(0px);
         text-shadow: none;
     }
 }


/* ------------------------------Hover */

.contact-button:hover{
    color: #00b3ff;
    background-color: #181818;
    -webkit-transform: scale(1.1);
}

.social-links li i:hover{
    transform: scale(1.2);
    color: #00b3ff;
}

/* ------------------------------Media Query */


 

/* ------------------------------Skills */

.bar-container{
    margin: 40px 40px;
}

.progress{
    position: relative;
    height: 25px;
    margin-bottom: 10px;
}

.subject{
    position: absolute;
    left: 0;
    font-family: "Monsterrat", sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 4px 30px 4px 20px;
    color: #fafafa;
    background-color: rgba(25, 25, 25, 0.2);
}

/* ------------------------------Footer */

.footer-container{
    text-align: center;
    letter-spacing: 8px;
    font-size: 25px;
}

.social-links li i{
    color: #707070;
}

.social-links li i:hover{
    transform: scale(1.2);
    color: #00b3ff;
}