@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat|PT+Sans&display=swap');

html{
    scroll-behavior: smooth;
}

/* ------------------------------Colours/Fonts/Sizing/Alignment */
body{
    background-color: #252627;
}

.bg-dark{
    background-color: #181818 !important;
}
 nav li a{
     color: #707070 !important;
     text-transform: uppercase;
     font-family: "Monsterrat", sans-serif;
     font-size: 14px;
     padding-right: 30px;
 }

 .navbar-brand{
     color: #707070 !important;
     font-weight: 100;
     font-size: 36px;
     font-family: "Montserrat", sans-serif;
     padding-left: 20px;
     letter-spacing: 2px;
     text-transform: uppercase;
 }


 .main-content{
    color: #fafafa;
    font-family: "PT Sans", sans-serif;
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    padding-top: 120px;
 }

 .heading-text{
     font-size: 50px;
     line-height: 140%;
     font-weight: 700;
     letter-spacing: 2px;
 }

 .underwriting{
     font-size: 18px;
     color: #707070;
     word-spacing: 10px;
     justify-content: center;
     text-align: center;
 }


 hr{
     height: 2px;
     width: 120px;
     margin-left: auto;
     margin-right: auto;
     background-color: #181818;
 }

 .contact-button{
     margin-top: 30px;
     height: 45px;
     width: 150px;
     text-transform: uppercase;
     background-color: transparent;
     border: 3px solid #00b3ff;
     color: #00b3ff;
     border-radius: 0;
     letter-spacing: 2px;
     position: relative;
     -webkit-transition: all 0.5s ease-in-out;
 }

 .cv a{
     margin-top: 30px;
     clear: both;
     display: block;
     text-decoration: none;
     color: #fafafa;
     font-family: "Montserrat", sans-serif;
 }


 .arrow-link{
     display: block;
     clear: both;
     margin-top: 30px;
     font-size: 45px;
     text-decoration: none;
 }

 .arrow-link i{
     color: #fafafa;
 }
 
.about-content-section,
.skills-content-section,
.contact-content-section{
    height: auto;
    margin-top: 100px;
    padding-bottom: 20px;
}

.skills-heading,
 .about-heading,
 .my-work-heading,
 .contact-heading{
     color: #707070;
     text-shadow: 20px 20px 1.2rem rgba(0, 0, 0, 0.8);
     font-size: 100px;
     opacity: .3;
     z-index: 0;
     padding-left: 20px;
     font-family: "PT sans";
     font-weight: 600;
 }

.skills-container,
.about-me-info-container{
    display: flex;
    justify-content: center;
}

.skills-info,
 .about-me-info{
     max-width: 900px;
     background-color: #181818;
     /* background-color: #252627; */
     box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.6);
     padding: 50px;
     margin-top: 50px;
     /* display: flex;
     justify-content: center; */
     text-align: center;
     z-index: 1;
     color: #707070;
     font-family: "Montserrat", sans-serif;
     font-size: 15px;

 }

.progress-bar{
    background-color: #00b3ff;
}

.info-header{
    display: block;
    margin: 10px 0;
    font-weight: 600;
}

/* .skills-heading{
    color: #707070;
     font-size: 100px;
     opacity: .3;
     z-index: 0;
     padding-left: 20px;
} */

/* ------------------------------Nav Bar */

 .nav-item{
     padding-right: 10px;
 }


 .nav-container{
     padding-right: 35px;
 }

 .navbar-collapse{
     padding-left:40px;
     text-align: center;
 }

 

/* ------------------------------Main Content */

 .main-content-section{
     height: auto;
 }


 

 /* ------------------------------Animation (source Youtube with my own slight edit) */

 .heading-text span{
     letter-spacing: -10px;
     animation: animate 2s linear infinite;
 }

 .heading-text span:nth-child(1){
     animation-delay: 0s;
 }
 .heading-text span:nth-child(2){
     animation-delay: 0.25s;
 }
 .heading-text span:nth-child(3){
     animation-delay: 0.5s;
 }
 .heading-text span:nth-child(4){
     animation-delay: 0.75s;
 }
 .heading-text span:nth-child(5){
     animation-delay: 1s;
 }
 .heading-text span:nth-child(6){
     animation-delay: 1.25s;
 }

 @keyframes animate{
     0%,50%{
         color: #fff;
         filter: blur(2px);
         text-shadow: 0 0 10px #00b3ff,
                     0 0 20px #00b3ff,
                     0 0 40px #00b3ff,
                     0 0 80px #00b3ff,
                     0 0 120px #00b3ff;
     }

     5%,95%{
         color: #fff;
         filter: blur(0px);
         text-shadow: none;
     }
 }


/* ------------------------------Hover */

.contact-button:hover{
    color: #00b3ff;
    background-color: #181818;
    -webkit-transform: scale(1.1);
}

.social-links li i:hover,
.cv a:hover,
.arrow-link i:hover{
    -webkit-transform: scale(1.2);
    -webkit-transition: all 0.5s ease-in-out;
    color: #00b3ff;
}

.card:hover,
.submit-button:hover{
    transform: scale(1.1);
    -webkit-transition: all 0.5s ease-in-out;
}

.navbar ul li a:hover{
    border-bottom: 1px solid #707070;
}


/* ------------------------------Media Query */

/* @media screen and (max-with:768px){
    .my-work-container{
        text-align: center;
    }
} */
  @media only screen and (max-width: 600px) {
  .skills-heading,
 .about-heading,
 .my-work-heading,
 .contact-heading{
     padding: 0;
    text-align: center !important;
  }

  .navbar-brand{
      padding: 0;
  }

  .main-content{
      padding-top: 10px;
  }
}

/* ------------------------------Skills */

.bar-container{
    margin: 40px 40px;
}

.progress{
    position: relative;
    height: 25px;
    margin-bottom: 10px;
}

.subject{
    position: absolute;
    left: 0;
    font-family: "Monsterrat", sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 4px 30px 4px 20px;
    color: #fafafa;
    background-color: rgba(25, 25, 25, 0.2);
}


/* ------------------------------My Work */
.my-work-container{
    margin-top: 100px;
    padding: 0 20px 20px 20px;
    height: auto;
}

.card-container{
    padding: 40px 35px;
    align-items: center;
}

.card-body{
    background-color: #181818;
    color: #707070;
    font-family: "Montserrat", sans-serif;
}

.card{
    border: none !important;
}



/* ------------------------------Footer */

.footer-container{
    background-color: #181818;
    text-align: center;
    letter-spacing: 4px;
    font-size: 25px;
    height: 110px;
}

.social-links li i{
    color: #707070;
}

footer h5{
    color: #707070;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 20px;
}

/* ------------------------------Modal */

.modal-content{
    background-color: #181818 /* rgba(60,60,60,0.8) */;
}

.modal-header,
.modal-body{
    color: #707070;
}

.submit-button{
    background-color: #707070;
    color: #181818;
}

.close{
    color: #707070;
    opacity: 1;
}



/* ------------------------------Contact */

.contact-form{
    padding: 100px;
    margin-top: 50px;
    background-color: #181818;
    color: #707070;
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.6);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Montserrat", sans-serif;
}

.contact-form h3{
    text-align: center;
    padding-bottom: 20px;
}

.personal-info{
    text-align: center;
    color: white;
    font-family: "Montserrat", sans-serif;
}
